:root{

    --formColor: white;
    --bgColor: #eee;

    --focusColor: #348cff;
    --boxShadow: 2px 2px 5px 0 rgba(0,0,0,0.2);

    --contentPadding: 10px;
    --buttonColor: #dc7636;
    --hoverColor: #e86118;

    --errorColor: rgb(192, 52, 27);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Trebuchet MS', sans-serif;
}

#container{
    width:100%;
    min-height:100vh;
    min-height: 100svh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;

    background-color: var(--bgColor);
}

#img-sidebar{
    width: 40%;
    /* flex:1 1 auto; */
    background-image: url(images/halie-west-7Cb83_TuJcM-unsplash.jpeg);

    color: white;

    position: relative;
}

main{

    width:60%;
    /* flex:1.5 1 auto; */

    display:flex;
    flex-direction: column;
    justify-content: center;
}

main a:link, main a:visited{
    color: var(--buttonColor);
}

main a:hover{
    color: var(--hoverColor);
}
main a:active{
    color: var(--focusColor);
}

#logo{
    width: 100%;
    aspect-ratio: 4; 
    background-color: rgba(0,0,0,0.4);
    font-family: 'Vina Sans', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:25%;
    
}


#logo img{
    max-width:100%;
    width: auto;
    height:90%;
}

#logo h1{
    font-size:max(2rem, 5vw);
    /* letter-spacing: 1px; */
}

#img-caption{

    position: absolute;
    bottom: 0;

    width:100%;

    
    text-align:center;
    font-size: 0.8rem;
  
}

#img-caption a{
    color:white;
}


#description, form section, #more-options{
    
    padding: var(--contentPadding) calc(2*var(--contentPadding));
}

form section.fields{
    background-color: var(--formColor);
    box-shadow: var(--boxShadow);
}

form ul{
    padding: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px 25px;
}

form ul>li{
    list-style: none;

}

label{
    display: block;
    text-transform:uppercase;
    font-size:0.75rem;
    color: #555;
}

input{
    border: 1.5px solid #E5E7EB;
    
    border-radius: 5px;
    padding: 6px;
}

input::placeholder{
    font-size: 0.9rem;
}

input:focus{
    outline:none;
    border: 1.5px solid var(--focusColor);
    box-shadow: var(--boxShadow);
}

.error{
    border-color: var(--errorColor);
}

.error-message{

    visibility: hidden;
    font-size: 0.7rem;
    margin: 2px 0 0 0;
    padding: 0;
    color: var(--errorColor);
}

button{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color:var(--buttonColor);
    box-shadow: var(--boxShadow);
    padding: 10px 20px;
    margin-top: 10px;

    cursor: pointer;

    color:white;
}

button:hover{
    background-color: var(--hoverColor);
}